<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('dashboard')}}">Words and Sips</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{url_for('dashboard')}}"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_order')}}">Add Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('view_sales')}}">View Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('manage_menu')}}">Manage Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('order_history')}}"
            >Order History</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('manage_tabs')}}">Manage Tab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
