{% extends "layout.html" %} {% block body %} {% include "includes/message.html"
%}

<h3>Recent orders</h3>
<hr>

<div class="row">
  {% if orders %} {% for id in orders.keys() %}
  <div class="col-4" id="print_{{id}}">
    <div class="card m-2 overflow-scroll" style="height: 20rem">
      <div class="card-body"> 
        <h5 class="card-title">
          <p>
            <h5> Words and Sips </h5>
            <h6> Book Cafe <br>
              FC Road Pune </h6>
          </p>
          <hr>
          <p>
            <b>Order No. </b>  {{orders[id].order_no}} <br>
            <b>Name: </b> {{orders[id].name}} <br>
            <b>Entry: </b> {{orders[id].start_time}} <br>
            <b>Location: </b> {{orders[id].location | capitalize}}
          </p>    
        </h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in orders[id].order %} {% if 'entry_fee' in item.keys()
            %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>Entry Fee</td>
              <td>&nbsp;&nbsp;&nbsp;{{orders[id].quantity}}</td>
              <td>{{item.entry_fee}}</td>
            </tr>
            {% else %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{item.name}}</td>
              <td>&nbsp;&nbsp;&nbsp;{{item.quantity}}</td>
              <td>{{item.amount}}</td>
              <td>
                <a href="{{url_for('print_order', id=id, item_id = item.order_id)}}">
                <button id="printIcon" style="font-size:16px" class="btn dark"><i class="fa fa-print"></i></button>
            </td>
		          <td>
                <a href="{{url_for('delete_order', id=id, item_id=item.order_id)}}">
                <button id="crossSign" class="btn text-danger">&cross;</button>
            </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
        <div class="text-right">Total: &#8377; {{orders[id].total}}</div>
        <p>
          <h6>We Serve Coffee, Books and Love <br>
            Please give us 15-20 mins to serve you :) </h6>
        </p>
      </div>
      
      <div class="card-footer">
        <button class="btn btn-primary" onclick="printDiv(`print_{{id}}`)">
          Print
        </button>
        <button class="btn btn-success">
          <a
            class="text-white text-decoration-none"
            href="{{url_for('checkout_order', order_id=id)}}"
            >Checkout
          </a>
        </button>
        <form action="{{url_for('add_product', order_id=id)}}" method="post">
          <input name="cigsamt" id="cigsamt" type="number" size="3" maxlength="3" style="width: 80px;">
        <a
          class="text-black text-decoration-none"
          href="{{url_for('add_product', order_id=id)}}"
        >
          <button class="btn btn-outline-secondary">&plus;</button>
        </a>
      </form>
      </div>
    </div>
  </div>
  {% endfor %} {% else %} <span class="ms-2">No orders to display!</span> {%
  endif %}
</div>

{% endblock %} {% block scripts %}

<script>
    setInterval(() => {
    setInterval(location.reload(), 1000);
  }, 30000);

  function printDiv(divName) {
    var printContents = document.getElementById(divName);
    var cardFooter = printContents.getElementsByClassName("card-footer")[0];
    var crossSign = document.getElementById("crossSign");
    var printIcon = document.getElementById("printIcon");
    crossSign.remove();
    printIcon.remove();
    cardFooter.remove();
    w = window.open();
    w.document.write(printContents.innerHTML);
    w.print();
    w.close();
  }

  

</script>

{% endblock %}

